<div id="username-page">
  <div class="username-page-container" *ngIf="showDiv">
      <h1 class="title">Ingrese su nombre de usuario</h1>
      <form id="usernameForm" name="usernameForm">
          <div class="form-group">
              <input type="text" id="name" placeholder="Username" #usernameInput autocomplete="off" class="form-control" />
          </div>
          <div class="form-group">
              <button id="button-connect" type="submit" class="accent username-submit" (click)="connect(usernameInput.value)">Conectar</button>
          </div>
      </form>
  </div>
</div>

<div id="chat-page" *ngIf="!showDiv">
  <div class="chat-container">
      <div class="chat-header">
          <h2>Spring WebSocket Chat Demo</h2>
      </div>
      
      <!-- <div class="connecting">
          Connecting...
      </div> -->

      <ul id="messageArea" #messageArea >
        <div *ngFor="let item of messages" >
          <li class="chat-message" *ngIf="item.type == TypeChat.CHAT">
                <i [style.background-color]=" item.color ">{{ item.sender[0] }}</i>
                  <span>{{ item.sender }} </span>
                  <p>{{ " " + item.content }}</p>
          </li>
          <li class="event-message" *ngIf="item.type == TypeChat.JOIN || item.type == TypeChat.LEFT "> 
                 <p> {{ item.sender + " " + item.type }} </p> 
          </li>
        </div>
      </ul>
      <div id="messageForm" name="messageForm">
          <div class="form-group">
              <div class="input-group clearfix">
                  <div id="sendMenssage" *ngIf="!showDiv">
                    <input type="text" [(ngModel)]="messageToSend" (keydown.enter)="sendMessage()" placeholder="Escribe tu mensaje...">
                    <button (click)="sendMessage()">Enviar</button>
                  </div>
              </div>
          </div>
        </div>
  </div>
</div>
